<span th:fragment="cardFrag(game, cardDto, stack)"
     th:style="${'border-radius:5%; border: 2px solid black;width:8%;height:' + (stack==true ? '45' : '40') + '%;display: inline-block;background-color:'}"
     th:styleappend="${cardDto!=null ? 'white' : '#1EB5DA'}"
     th:id="${cardDto!=null && !stack ? (cardDto.suit.name + '_' + cardDto.rank.name()) : 'hiddenCard'}">

    <div th:if="${stack==false && cardDto!=null && game.actualPlayer==game.playerIndex && game.stage.name=='GAME_ON' && game.canUse(cardDto)}">
        <a href="#" th:onclick="selectCard([[${cardDto}]])">
            <div th:replace="fragments/card-content :: cardContentFrag(cardDto=${cardDto})"/>
        </a>
    </div>
     <div th:if="${stack==false && cardDto!=null && game.actualPlayer==game.playerIndex && game.stage.name=='GAME_ON' && !game.canUse(cardDto)}">
            <div th:replace="fragments/card-content :: cardContentFrag(cardDto=${cardDto})"/>
    </div>
     <div th:if="${stack==false && cardDto!=null && game.actualPlayer==game.playerIndex && game.stage.name=='END_AUCTION'}">
        <a href="#" th:onclick="giveCardToPlayer([[${cardDto}]], [[${game.playersInfo}]])">
            <div th:replace="fragments/card-content :: cardContentFrag(cardDto=${cardDto})"/>
        </a>
    </div>
      <div th:if="${stack==false && cardDto!=null && (game.actualPlayer!=game.playerIndex || game.stage.name=='AUCTION' || game.stage.name=='CONFIRMATION_POINTS') }">
            <div th:replace="fragments/card-content :: cardContentFrag(cardDto=${cardDto})"/>
    </div>
    <div th:if="${stack==true && cardDto!=null}">
        <div th:replace="fragments/card-content :: cardContentFrag(cardDto=${cardDto})"/>
    </div>
</span>